<div id="404" class="pageNot text-center wrap-flex-align" >
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="content-pagenot">
			<h1>Không tìm thấy trang</h1>
			<p class="subtext">Xin lỗi, chúng tôi không tìm thấy trang này</p>
			<a href="{{shop.url}}">Trở về trang chủ</a>
		</div>
	</div>
</div>


