{% comment %} menu {% endcomment %}
{% include 'menu' %}
{% comment %} end menu {% endcomment %}
       <!-- title-->
<main class="a-main" data-router-wrapper>
<div class="a-page" data-router-view="renderer">
	<div class="a-scroll">
		<section class="s-cases" style="padding:0;">
		<div class="s-cases-copy">
			<div class="s-cases-align">
				<h2>We craft eCommerce brands,<br/> driven by instinct.</h2>
				<a class="l-rg" href="index.html" data-transition="menu"> More about us <svg class="i-arrow" viewbox="0 0 40 40"><circle cx="20" cy="20" r="19"/><line x1="12.5" y1="20" x2="26.5" y2="20"/><line x1="23.5" y1="15" x2="27.5" y2="20"/><line x1="23.5" y1="25" x2="27.5" y2="20"/></svg></a>
			</div>
		</div>
		<div class="s-cases-nav">
			<div class="s-cases-next">
				<svg class="i-arrow" viewbox="0 0 17 12"><path d="M1,6h14"/><path d="M12,1l4,5"/><path d="M12,11l4-5"/></svg>
			</div>
			<div class="s-cases-prev">
				<svg class="i-arrow" viewbox="0 0 17 12"><path d="M1,6h14"/><path d="M12,1l4,5"/><path d="M12,11l4-5"/></svg>
			</div>
		</div>
		<!-- close title-->

	<!-- close intro-->

<!-- open slider-->
<div class="s-cases-slider">
	<div class="s-cases-scroll" style="width: 3624px; transform: translate3d(0px, 0px, 0px);">
		{%- for collection in collections -%}
		<div class="s-cases-item" style="width: 453px;">
			<div class="s-cases-link">
				<a data-transition="case" href={{ collection.url }}></a>
			</div>
			<div class="s-cases-title">
				<h3>Vibration Workingshare</h3>
				<h2>A local Coworking <br>
					Space &amp; Community</h2>
			</div>
			<div class="s-cases-image">
				<img class="img-c" src="{{ collection.image.src }}" alt="" style="transform: translate(0px, 0px);">
			</div>
		</div>
		{%- endfor -%}
		
		</div>
	  </div>
	</div>
		<!-- close slider-->
		</section>
	</div>
</div>
</main>