{% comment %} menu {% endcomment %}
{% include 'menu' %}
{% comment %} end menu {% endcomment %}
<head>
	<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
       <!-- title-->
<main class="a-main" data-router-wrapper>
<div class="a-page" data-router-view="renderer">
	<div class="a-scroll">
		<section class="s-cases" style="padding:0;">
		<div class="s-cases-copy">
			<div class="s-cases-align">
				<h2>TRULY SPECIALTY COFFEE<br/> <p style="font-weight:normal; font-size:23px;">
				Trustworthy - Respect - Responsibility - Suistainability - Profit
					.</p></h2>
				<a class="l-rg" href="index.html" data-transition="menu"> More about us <svg class="i-arrow" viewbox="0 0 40 40"><circle cx="20" cy="20" r="19"/><line x1="12.5" y1="20" x2="26.5" y2="20"/><line x1="23.5" y1="15" x2="27.5" y2="20"/><line x1="23.5" y1="25" x2="27.5" y2="20"/></svg></a>
			</div>
		</div>
			
		<div class="s-cases-nav">
			<div class="s-cases-next">
				<svg class="i-arrow" viewbox="0 0 17 12"><path d="M1,6h14"/><path d="M12,1l4,5"/><path d="M12,11l4-5"/></svg>
			</div>

			<div class="s-cases-prev">
				<svg class="i-arrow" viewbox="0 0 17 12"><path d="M1,6h14"/><path d="M12,1l4,5"/><path d="M12,11l4-5"/></svg>
			</div>
		</div>
		<!-- close title-->

	<!-- close intro-->

<!-- open slider-->
<div class="swiper-pagination unused"></div>
<div class="swiper-container">
	<div class="swiper-wrapper s-cases-scroll" style="width: 3624px;">
		{%- for collection in collections -%}
		<div class="swiper-slide s-cases-item" style="width: 453px;">
			<div class="s-cases-link">
				<a data-transition="case" href={{ collection.url }}></a>
			</div>
			<div class="s-cases-title">
				<h3>Vibration Workingshare</h3>
				<h2>A local Coworking <br>
					Space &amp; Community</h2>
			</div>
			<div class="s-cases-image">

				<img class="img-c" src="{{ collection.image.src }}" alt="" style="transform: translate(0px, 0px);">

			</div>
		</div>
		{%- endfor -%}
		
		</div>
		
	  </div>
    <div class="s-cases-next">
			<svg class="i-arrow" viewbox="0 0 17 12"><path d="M1,6h14"/><path d="M12,1l4,5"/><path d="M12,11l4-5"/></svg>
		</div>
    <div class="s-cases-prev">
			<svg class="i-arrow" viewbox="0 0 17 12"><path d="M1,6h14"/><path d="M12,1l4,5"/><path d="M12,11l4-5"/></svg>
		</div>
	</div>
		<!-- close slider-->
		</section>
	</div>
</div>
  <script>
    var swiper = new Swiper('.swiper-container', {
    loop: true,
    speed: 1500,
    grabCursor: false,
    slidesPerView: 3,
		slidesPerGroup: 3,
    mousewheel: true,
			loopFillGroupWithBlank:true,
      pagination: {
        el: '.swiper-pagination',
        type: 'fraction',
      },
      navigation: {
        nextEl: '.s-cases-next',
        prevEl: '.s-cases-prev',
      },
    });
  </script>
</main>